[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pylint = "==2.4.4"

[packages]
pyyaml = "~=5.3"
passlib = "~=1.7.2"
python-gnupg = "~=0.4.5"
requests = "~=2.23.0"

[requires]
python_version = "3.7"
